.container-1{
    background-color: violet;
}

.container-2{
    background-color: red;
}

.colorGreen{
    color: green;
}

.colorBlue{
    color: blue;
}

.jumbotron{
    color: rgb(49, 223, 180);
    background-color: rgb(144, 114, 179);
}
