<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center vh-25 container-1">{{title}}
            
        </div>
        <div class="col-6 vh-25 text-center container-2">
            <h3>Introduction</h3>
            <h2 *ngFor = "let i of items | async"> {{i.title}} </h2>

        </div>
        <div class="col-6 vh-25 tect-center container-3">
            <div class="form-group">
              <label for=""></label>
              <input type="text"
                class="form-control" 
                    [(ngModel)]="x" placeholder="Firstname">
            </div>
        </div>
    </div>
</div> -->

<div class="jumbotron text-center">
    <h1>Portfolio</h1>
    <h2>Electronics - Disrete</h2>
    <p>Neil Christian</p> 
  </div>
    
  <div class="container p-3 my-3 border">
    <h1>About</h1>
    <p>Hi, this is Neil Christian. An Electronics Engineering student and a licensed Electronics Technician
        and amateur developer from Batangas Province.
        My primary focus are logic circuit design.</p>
  </div>
  
  <div class="container p-3 my-3 bg-dark text-white">
    <h1>Projects</h1>
    <p>The list of projects that I made</p>
    <ul>
        <li>Discrete HEX Decoder using Bipolar Junction Transistors</li>
        <li>Discrete Transistorized Amplifier</li>
        <li>Discrete Transistorized Code Converter Circuit</li>
        <li>Smart Door Lock</li>
        <li>Home Automation using Arduino</li>
        <li>Pong Game using Altera FPGA</li>
        <li>Simple Lego Building Design using Bricklink Studio</li>
        <li>Log-Periodic Dipole Array Antenna</li>
    </ul>
  </div>
  
  <div class="container p-3 my-3 bg-primary text-white">
    <h1>Affiliations</h1>
    <ul>
        <li>IECEP Batangas Student Chapter</li>
        <li>IECEP National</li>
        <li>ARDUINO PHILIPPINES UNTIED</li>
    </ul>
  </div>

  <div class="container p-3 my-3 bg-success text-white">
    <h1>Certifications</h1>
    <ul>
        <li>Data Visualiztion Webinar</li>
        <li>Discovering New Trends in Microelectronics</li>
        <li>Seminar on Biomedical Devices and Healthcare Technologies Innovation</li>
        <li>Broadcasting: The Present and Future Technologies of Mass Communication</li>
        <li>Next Gen Telecommunications Technology</li>
        <li>Understanding Artificial Intelligence: Machine Learning and Deep Learning</li>
        <li>Data Science and Machine Learning: Evaluation, Tuning, and Optimization of Machine Learning
            Models</li>
        <li>Data Science and Machine Learning: Regression and Classification Techniques</li>
        <li>ECEminar: Multisim & PCB Making</li>
        <li>60-Hours Japanese Language Program</li>
    </ul>
  </div>